html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-image:url("img/forest1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    height: 7rem;
    background-color: #D1FFBD;
    padding: 0.3rem;
    margin: 0 auto;
}

#logoPage {
    height: 6rem;
    display: block;
    margin: auto;
}

#footer {
    background-color: white;
    opacity: 0.6;
    text-align: center;
    font-size:20px;
    position: relative;
    top: 1rem;

}

#addName {
    background-color: white;
    opacity: 0.6;
    font-size: 30px;
    text-align: center;
    padding: 2.5rem;
    margin: 1rem;
    width: max-content;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

#nameInput {
    height: 2rem;
    width: 300px;
    border-radius: 10px;
}
#ash{
    height: 400px;
    position: relative;
    left: 2rem;
    top: auto;

}

#pikachu, #eevee{
    height: 300px;
    position: relative;
    left: 2rem;
    top: auto;


}


.image {
    display: inline;
    text-align: center;
    position:relative;
    transform-style: preserve-3ds;
}

.cards{
    
    width: 100px;
    border-radius: 10px;
    display: inline-block;
    position: absolutes;

 
   

}

.image:hover .cards {
    transform:rotateY(180deg);

}

.pikachuUp, .eeveeUp {
    background-color: white;
    opacity: 0.6;
    font-size: 30px;
    text-align: center;
}

#eevee2, #pikachu2 {
    height: 200px;
}
 
.container{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(6,8rem);
    grid-template-rows: repeat(4,8rem);
    grid-gap: 2rem;
    perspective: 800px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: flex;
    align-content: space-around;
    

    
 }
 

     #imageback {
     background-color: aliceblue;
     display: grid;
     position: relative;
     backface-visibility: hidden;

    
 }

 #imagefront{
     backface-visibility: hidden;
 }