html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
body{
    background-image:url("img/forest1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    height: 12rem;
    background-color: #D1FFBD;
    padding: 0.5rem;
    margin: 0 auto;
}

#logoPage {
    height: 12rem;
    display: block;
    margin: auto;
}

#footer {
    background-color: white;
    opacity: 0.6;
    text-align: center;

}

#addName {
    background-color: white;
    opacity: 0.6;
    font-size: 20px;
    text-align: center;
    padding: 3rem;
    margin: 1rem;
    width: max-content;
    border-radius: 20px;
}

#ash, #pikachu, #eevee {
    height: 300px;

}

.image {
    display: inline;
}